<div ng-controller='FlightController' class="container">
  <h1>Your Trip</h1>

  <h4>Check for Flights<h4>
  <div>
   <md-input-container class="md-block" flex-gt-sm>
      <label>Departure City</label>
      <md-select ng-model="departureCity">
        <md-option ng-repeat="city in cities" value="{{city.abbrev}}">
          {{city.abbrev}}
        </md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block" flex-gt-sm>
      <label>Arrival City</label>
        <md-select ng-model="arrivalCity">
          <md-option ng-repeat="city in cities" value="{{city.abbrev}}">
            {{city.abbrev}}
          </md-option>
        </md-select>
    </md-input-container>
  </div>


  <div class="tableFoundation">
      <div layout-gt-xs="row">
        <div flex-gt-xs>
          <h4>Arrival</h4>
          <md-datepicker ng-model="arrivalDate" md-placeholder="Arrival date"></md-datepicker>
        </div>

        <div flex-gt-xs>
          <h4>Departure</h4>
          <md-datepicker ng-model="departureDate" md-placeholder="Departure date"></md-datepicker>
        </div>  
        <md-button ng-click="getFlight(arrivalCity,departureCity,arrivalDate,departureDate)" class="md-raised">Check</md-button>
    </div>
  </div>
 

  <div ui-view="auth"></div>
  <div class="col-md-6" ui-view="activity"></div>
  <div class="col-md-6" ui-view="itinerary"></div>
</div>
